extends ../layout

block content
  h1 Create Team
  .col-md-6
    form(method='post' action='/team/new')
      .form-group
        label(for='teamName') Team name
        input#teamName.form-control(type='text', placeholder='TSM', name='teamName')
      label.radio-inline
        input(type='radio', name='region', value='na')
        | NA
      label.radio-inline
        input(type='radio', name='region', value='euw')
        | EUW
      label.radio-inline
        input(type='radio', name='region', value='br')
        | BR
      br
      br
      button.btn.btn-default(type='submit') Create Team
